.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}

#gameContainer{
    font-family: "Permanent Marker", cursive;
    text-align: center;
}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

#restartBtn {
    padding: 15px;
    background-color: red;
    border-radius: 15px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 5px 5px 9px #cecece;
}

#restartBtn:hover {
    transform: scale(0.95);
    transition: 0.3s;
}

