/* style for Cars exhibition */

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    gap: 1rem;
    cursor: pointer;
}

img:active {
    border: 3px solid red;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.textContent {
    color: red;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}